.searchbar{
    padding-left: 350px;
    padding-top: 9px;
    padding-right: 100px;
}
section{
    input{
        border-radius: 1px;
        padding-left: 5px;
    }
}
section{
    button{
        border-radius: 3px;
    }
}
section{
    button:hover{
        scale: 1.04;
        transition-duration: 0.1s;

    }
}