a{
    font-size: 20px;
    color:black;
    
}
#navbar-home-icon{
    padding-left: 20px;
    padding-right: 40px;
}
ul{
    li{
        button{
            margin-top: 8px;
        }
    }
}
.navbar-default{
    background-color: black;
    padding-top: 15px;
    padding-bottom: 15px;
}
.account-dropdown{
    font-size: 16px;
}
.account-dropdown:hover{
    cursor: pointer;
}
#nav-product-link{
    margin-right: 25px;
    margin-left: 25px;
}
#shopping-cart-button{
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 18px;
    background-image: url('https://t4.ftcdn.net/jpg/01/86/94/37/360_F_186943704_QJkLZaGKmymZuZLPLJrHDMUNpAwuHPjY.jpg') !important;
    background-size: cover;
    scale: 2.5;
}
#amount{
    margin-top: 17px;
    margin-right: 20px;
    color: white;
    scale: 1.3;
}
ul{
    li{
        a{
            color: white;
        }
    }
}
ul{
    li{
        .dropdown-toggle{
            background-color: black;
            color: white;
        }
    }
}
ul{
    li{
        .dropdown-toggle:hover{
            transition-duration: 0.4s;
            transform: scale(1.03);
            background-color: black;
            color: white;
        }
    }
}
ul{
    li{
        .nav-button:hover{
            transition-duration: 0.4s;
            transform: scale(1.05);
        }
    }
}

ul{
    li{
        .account-dropdown:hover{
            background-color: lightgrey;
        }
    }
}

#size-button{
    border-radius: 1rem;
    border: solid 1px black;  
    padding: 1rem;
    scale: 0.8;
    margin-top: 0px;
    font-size: 25px;
    color: white;
    width: 150px;
    background: rgb(37, 57, 60);
    opacity: 0.9;
}
#size-button:hover{
    transition-duration: 0.2s;
    opacity: 1.5;
}

