.container{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 1.5rem;
}

ul{
    display: flex;
    flex-direction: column;
    flex: 7 0;
    justify-content: space-evenly;
    border: 1px solid #ffbbbb;
    border-radius: 1rem;
    list-style: none;
    margin: .5rem;
    padding: 0;
}

ul{
    li{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        border-bottom: 1px solid #e4e4e4;

    }
}
ul{
    li:last-child{
        border:none;
    }
}

ul{
    li{
        img{
            width: 15rem;
            height: 15rem;
            border-radius: .5rem;
            object-fit: cover;
        }
    }
}

ul{
    li{
        div{
            padding:1rem;
        }
    }
}

ul{
    li{
        div:not(:first-child){
            flex-basis: 18%;

        }
    }
}

ul{
    li{
        select{
            width: 3rem;
            height: 1.6rem;
            border: 1px solid black;
            font-size: 1.1rem;
        }
    }
}

ul{
    .remove-button{
        border-radius: 1rem;
        border: solid 1px black;  
        padding: .5rem;
        color: white;
        background: red;
        opacity: .7;
    }
}

ul{
    .remove-button:hover{
        opacity: 1;
        cursor: pointer;
    }
}

.order{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex: 2 3;
    height: 15rem;
    border: 1px solid #ffbbbb;
    border-radius: 1rem;
    padding: .5rem;
    margin: .5rem;
    margin-left: 2rem;
}

.order>div{
    font-size: 1.4rem;
    margin: 1rem;
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.order{
    .products-count{
        margin-bottom: 1.5rem;
    }
}

.order{
    .products-count::before{
        content: 'Aantal: ';
        color: grey;
    }
}

.order{
    .total-price::before{
        content: 'Prijs: ';
        color: grey;
    }
}

#order-button{
            border-radius: 1rem;
            border: solid 1px black;  
            padding: .5rem;
            color: white;
            background: rgb(0, 64, 255);
            opacity: .7;
            margin-top: 20px;
}
#order-button:hover{
    opacity: 1;
    cursor: pointer;
}
#empty-cart-message{
    align-self: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
#login-message{
    margin-top: 15px;
    margin-bottom: 0px;
}
.form-control{
    margin-right: 1rem;
    margin-top: 1.4rem;
}