<div class="container">
    <ul>@if(products_in_cart.length < 1){
        <h2 id="empty-cart-message">Winkelwagen is leeg!</h2>
    }
        @for (product of products_in_cart; track $index){
        <li>
            <div>
                <img [src]="product.image" [alt]="product.name">
            </div>
            <div>
                <a routerLink="/product/{{product.id}}">
                    {{product.name}}
                </a>
            </div>
            <div>
                € {{(product.price * product.amount)}}
            </div>
            <div>
                {{product.amount}}x
            </div>
            <div>
                <button (click)="removeProductFromCart($index)" class="remove-button">
                    Remove
                </button>
            </div>
        </li>
    }
    </ul>
    <div class="order">
        <div>
            <div class="products-count">
                {{getTotalAmount()}}
            </div>
            <div class="total-price">
                € {{getTotalPrice()}}
            </div>
            <div>
                <p id="login-message" *ngIf="!isLoggedIn">Log in om een bestelling te plaatsen</p>
                <button id="order-button" [disabled]="!isLoggedIn" routerLinkActive="active" routerLink="/bestelgegevens">
                    Bestellen
                </button>
            </div>
        </div>
    </div>
</div>
