<div class="container">
    <img [src]="product.imageUrl" [alt]="product.name">
    <div class="details">
        <div class="header">
            <span class="name">
                {{product.name}}
            </span>
        </div>
        <div class="description">
            {{product.description }}
        </div>
        <div class="price">
            <span>
                € {{product.price}}
            </span>
        </div>
        <button (click)="onBuyProduct(product)">
            Add to cart
        </button>
    </div>
</div>

