<div class="container">
    <img [src]="product.image" [alt]="product.name">
    <div class="details">
        <div class="header">
            <span class="name">
                {{product.name}}
            </span>
        </div>
        <div class="description">
            {{product.description }}
        </div>
        <div class="price">
            <span>
                € {{product.price}}
            </span>
        </div>
        @if (!isLoggedIn) {
            <button routerLinkActive="active" routerLink="/auth/login" (click)="showLoginAlert()">
                Add to cart
            </button>
        }
        @else if(isLoggedIn && product.amount < 1){
            <button disabled="true" (click)="showNoItemsInStockAlert">
                Niet op voorraad
            </button>
        }
        @else if(isLoggedIn && product.amount > 0) {
            <button (click)="onBuyProduct(product)">
                Add to cart
            </button>
        }

    </div>
</div>

